<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% if author.name and author.age %}
        This author is number {{ author.pk }} of {{ author_num }}
        <br/>
        <font size="+2">
        Name: {{ author.name }}
            <br/>
            <br/>
        Age: {{ author.age }}
        </font>
    {% endif %}

    {% if author.book_set.all %}
        {% for book in author.book_set %}
            <p> book </p>
        {% endfor %}
    {% else %}
        <p> There is no books available by this author </p>
    {% endif %}
    <br/>
    <br/>
    <a href="{% url 'author_list' %}"> <button type="button" class="btn btn-lg">back</button> </a>

</body>
</html>
