<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% if publisher.name %}
        <p> This publisher is one of {{ publisher.books_count }} </p>
        <font size="+2">
        Name: {{ publisher.name }}
            <br/>
        </font>
    {% endif %}
    <br/>
    <br/>
    <a href="{% url 'publisher_update' publisher.pk %}"> <button type="button" class="btn btn-lg"> update </button> </a>
    <a href="{%url 'publisher_delete' publisher.pk %}"><button type="button" class="btn btn-lg"> delete </button> </a>
    <a href="{% url 'publisher_list' %}"> <button type="button" class="btn btn-lg">back</button> </a>

</body>
</html>
