<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% if publisher.name %}
        <p> This publisher is one of {{ publisher_num }} </p>
        <font size="+2">
        Name: {{ publisher.name }}
            <br/>
        Average price of published books: {{ avg_price_of_published_books }}
            <br/>
        </font>
    {% endif %}
    <br/>
    <br/>
    <a href="{% url 'publisher_list' %}"> <button type="button" class="btn btn-lg">back</button> </a>

</body>
</html>
